<h1 class="page-title">Réservez vos billets de bus</h1>
<h2 class="page-subtitle">Voyagez moins cher en France et en Europe</h2>

<form class="form" [formGroup]="searchFG" (ngSubmit)="onSubmit()">

  <app-place-input [(fg)]="searchFG" placeholder="D'où partez-vous ?" name="from" [isMobile]="isMobile">
  </app-place-input>

  <div id="swap-button">
    <button type="button" class="button" (click)="swapCity()">
      <mat-icon svgIcon="compare"></mat-icon>
    </button>
  </div>

  <app-place-input [(fg)]="searchFG" placeholder="Où allez-vous ?" name="to" [isMobile]="isMobile"></app-place-input>

  <div class="formfield" [class.formfield-invalid]="searchFG.controls['when'].touched && searchFG.controls['when'].status === 'INVALID'">
    <div class="formfield-date" (click)="whenPicker.open()">
      <label class="formfield-icon" for="when">
        <mat-icon svgIcon="calendar"></mat-icon>
      </label>
      <input id="when" type="text" placeholder="(date de départ)" formControlName="when" [matDatepicker]="whenPicker"
        [min]="today" readonly>
    </div>
  </div>

  <div class="formfield" [class.formfield-invalid]="searchFG.controls['who'].touched && searchFG.controls['who'].status === 'INVALID'">
    <div class="formfield-number">
      <label class="formfield-icon" for="who">
        <mat-icon [svgIcon]="this.searchFG.get('who').value <= 1 ? 'user' : 'users'"></mat-icon>
      </label>
      <button class="button" type="button" (click)="removePassenger()" [disabled]="this.searchFG.get('who').value <= 1">
        <mat-icon svgIcon="minus"></mat-icon>
      </button>
      <input id="who" type="number" formControlName="who" placeholder="Passager" min="1">
      <button class="button" type="button" (click)="addPassenger()">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
  </div>

  <div class="form-actions">
    <button class="button" type="submit" [class.button-onprocess]="onProcess" [disabled]="!searchFG.valid || onProcess">
      <span>Rechercher</span>
      <mat-icon *ngIf="!onProcess; else processLoader" svgIcon="search"></mat-icon>
      <ng-template #processLoader>
        <mat-spinner></mat-spinner>
      </ng-template>
    </button>
  </div>
</form>

<mat-datepicker #whenPicker [touchUi]="isMobile"></mat-datepicker>
